node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

/src/generated/prisma
all_files.txt 
Backend/.env
Backend/node_modules
Bridge-web/.env
Bridge-web/node_modules
.env
node_modules
.next
